{% load static %}

<!-- ----- Início Footer ----- -->
<footer class="footer section">
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer f-about">
                            <div class="logo">
                                <img src="{% static 'images/logo/trupencanta.png' %}">
                            </div>
                            <p>Transformamos vidas através de arte, cultura, esporte e educação</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Links Úteis</h3>
                            <ul>
                                <li><a href="#0">Sobre Nós</a></li>
                                <li><a href="#0">Notícias</a></li>
                                <li><a href="#0">Oficinas</a></li>
                                <li><a href="#0">Projetos</a></li>
                                <li><a href="#0">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Saiba Mais</h3>
                            <ul>
                                <li><a href="#0">Depoimentos</a></li>
                                <li><a href="#0">Documentos</a></li>
                                <li><a href="#0">Parceiros</a></li>
                                <li><a href="#0">API Status</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer newsletter">
                            <h3>Endereço</h3>
                            <p>R. Cecília Breves, 181 </p>
                            <p>Morro da Conceição, Além Paraíba - MG</p>
                            <p>CEP 36660-000</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ----- Fim Footer ----- -->